/*-DropCap-*/
/* =========================================================
Heading
============================================================ */
h1 {
  color: #222;
  font: 700 32px/34px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0;
  margin-bottom: 5px; }

h2 {
  color: #222;
  font: 700 28px/30px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0;
  margin-bottom: 5px; }

h3 {
  color: #222;
  font: 700 24px/26px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0;
  margin-bottom: 5px; }

h4 {
  color: #222;
  font: 700 20px/22px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0;
  margin-bottom: 5px; }

h5 {
  color: #222;
  font: 700 16px/20px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0;
  margin-bottom: 5px; }

h6 {
  color: #222;
  font: 700 14px/20px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0;
  margin-bottom: 5px; }

a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
#footergl a:hover,
#toggle-view li h3:hover {
  color: #ED1C24;
  text-decoration: none;
  outline: none; }

a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #222;
  text-decoration: none !important;
  outline: none !important; }

p {
  margin-bottom: 10px;
  line-height: 18px; }

/* =========================================================
Clear Floated Elements
============================================================ */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* =========================================================
CSS3 Transition
============================================================ */
a,
#toggle-view li h3 {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* =========================================================
Colunms
============================================================ */
.lsidebars {
  float: left;
  border-right: 1px solid #d0d0d0;
  margin-right: -1px; }
  .lsidebars img {
    max-width: 100%;
    height: auto; }

.content {
  border-right: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0; }

.sidebars {
  border-left: 1px solid #d0d0d0;
  margin-left: -1px; }

.mb-20 {
  margin-bottom: 20px; }

/* =========================================================
Header
============================================================ */
/*----- Main Menu -----*/
/*----- Dropdown Menu -----*/
/*--------------Mobile Menu-------------------*/
#mobile-menu {
  display: none;
  position: relative;
  margin: 0; }

#mobile-menu > span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;
  color: #222; }

#toggle-view-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: none;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 99999;
  width: 220px; }

#toggle-view-menu > li {
  margin: 0;
  position: relative;
  cursor: pointer;
  list-style: none;
  background-color: #fff;
  border-top: 1px solid #d0d0d0; }

#toggle-view-menu > li:first-child {
  border-top: none; }

#toggle-view-menu h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  float: left;
  line-height: 40px;
  padding: 0 15px; }

#toggle-view-menu h3 a {
  width: 100%;
  display: block;
  text-shadow: none; }

#toggle-view-menu span {
  float: right;
  font-size: 26px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #222;
  line-height: 40px; }

#toggle-view-menu li.active {
  background-color: #fff; }

#toggle-view-menu li.active span,
#toggle-view-menu li.active h3 a {
  color: #222; }

#toggle-view-menu .menu-panel {
  margin: 0px;
  display: none;
  padding: 10px 15px 0;
  font-size: 14px;
  color: #222;
  border-top: 1px solid #d0d0d0; }

#toggle-view-menu .menu-panel ul {
  margin: 0; }

#toggle-view-menu li .menu-panel ul li {
  border: none;
  list-style: disc inside;
  margin: 0 0 10px 0;
  color: #222; }

#toggle-view-menu .menu-panel ul li a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 12px;
  text-shadow: none; }

#toggle-view-menu .menu-panel ul li ul {
  margin-left: 40px;
  margin-top: 10px; }

/*----- Secondary Menu -----*/
#secondary-nav {
  border-top: 1px solid #222;
  padding-top: 8px;
  padding-bottom: 2px; }

#secondary-menu li {
  list-style: none;
  float: left;
  margin: 0 0 0 25px;
  font-size: 11px; }

#secondary-menu li:first-child {
  margin: 0 0 0 3px; }

#secondary-menu li a {
  display: block;
  color: #555; }

/*----- Search box -----*/
/*.search-box {
  margin-top: 2px;
}
.search-box .search-form .search-text {
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  border-right: 1px dotted #d7d7d7;
}
.search-box .search-form .search-submit {
  border: none;
  width: 16px;
  height: 16px;
  background: url(images/icons/search-icon.png) no-repeat 0 0;
  margin: 0 10px 0 7px;
}*/
/* =========================================================
Main Content
============================================================ */
#sub-container {
  border: 10px solid #f9f9f9;
  padding: 20px 0 40px; }

.sub-container .widget {
  margin-top: 15px; }

.widget .top_cat li {
  list-style: none; }

.sub-container .widget:first-child, .sidebars .widget:first-child {
  margin-top: 0; }

.page_list h2 {
  font-size: 100%; }

h2.box, .widget h2 {
  text-transform: uppercase;
  font-size: 100%;
  margin: 0 0 15px;
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  line-height: 30px; }

.page_list > li, .top_cat > li {
  list-style: none;
  border-top: 1px solid #d0d0d0;
  padding-top: 10px;
  margin: 10px 0 0; }

.page_list > li:first-child, .top_cat > li:first-child {
  border-top: none;
  padding-top: 0px;
  margin: 0; }

.page_list .widget_tit, .page_list .widget_header h6 {
  font-size: 108.33%;
  margin: 0 0 5px; }

.bigtop .page_list .widget_tit {
  font-size: 200%;
  line-height: 1.17;
  margin: 10px 0; }

.col_top-left {
  float: left;
  border-right: 1px solid #D0D0D0;
  padding-right: 15px;
  width: 62%;
  padding-bottom: 10px; }

.col_top-right {
  float: left;
  border-left: 1px solid #D0D0D0;
  padding-left: 15px;
  width: 38%;
  margin-left: -1px;
  padding-bottom: 10px; }

.widget_date,
.comments-link,
.widget_count_page,
.page_date,
.page_view,
.comments-link {
  font-size: 91.667%;
  color: #6a6a6a;
  display: inline-block;
  margin-right: 15px; }

.comments-link a {
  color: #6a6a6a; }

.widget_date .entry-icon,
.widget-comments .entry-icon,
.widget_count_page .entry-icon,
.page_only .entry-icon {
  margin-right: 5px;
  float: left;
  margin-top: 1px; }

.entry-date span,
.entry-comments a,
.entry-views a {
  float: left; }

.widget_short_text {
  margin-bottom: 10px;
  line-height: 18px; }

.category {
  margin: 0 0 15px;
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  font-size: 175%; }

.page_list .cut, .page_only .cut {
  font-weight: 400;
  color: #6a6a6a;
  font-size: 92%; }

.page_only .cut {
  display: block;
  line-height: 1.42857; }

/*littel_preview start*/
.littel_preview .widget_prev, .littelblocks .widget_prev {
  width: 21%;
  margin-right: 10px;
  float: left; }

.littel_preview .widget_heading, .littelblocks .widget_heading {
  overflow: hidden; }

/*littel_preview end*/
.PhotoBlock {
  margin-left: -15px;
  margin-top: -10px; }
  .PhotoBlock.page_list li {
    float: left;
    width: 50%;
    padding: 0 0 0 15px;
    margin-top: 10px;
    border: none; }
  .PhotoBlock .widget_prev {
    display: block;
    position: relative;
    padding-bottom: 69.6%; }
    .PhotoBlock .widget_prev .widgit_img {
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.OneLeftPhoto li:first-child .widget_header {
  margin-bottom: 7px; }
  .OneLeftPhoto li:first-child .widget_header h6 {
    font-size: 150%;
    line-height: 22px;
    margin: 0 0 7px; }

.OneLeftPhoto .widget_prev {
  float: left;
  margin-right: 15px;
  width: 36%; }

.mediablocks .widget_date-wrap {
  margin-bottom: 3px; }

.mediablocks li {
  width: 50%;
  float: right;
  clear: right;
  padding-left: 15px;
  border-left: 1px solid #d0d0d0;
  margin-left: -1px;
  margin-right: 1px;
  margin-top: 0;
  padding-bottom: 10px; }
  .mediablocks li:first-child {
    float: left;
    border-left: none;
    border-right: 1px solid #d0d0d0;
    padding: 15px 15px 10px 0;
    margin-top: -15px; }
    .mediablocks li:first-child .widget_prev {
      width: 100%;
      position: relative;
      padding-bottom: 123%;
      margin-bottom: 10px; }
      .mediablocks li:first-child .widget_prev img {
        position: absolute;
        -o-object-fit: cover;
           object-fit: cover;
        height: 100%; }
    .mediablocks li:first-child .widget_heading {
      padding-left: 0;
      overflow: visible; }
    .mediablocks li:first-child .widget_short_text {
      padding-left: 0;
      width: 100%; }
  .mediablocks li:nth-child(2) {
    padding-top: 15px;
    margin-top: -15px;
    border-top: none; }
  .mediablocks li:last-child {
    padding-bottom: 15px; }

.BigLeft .widget_date-wrap {
  margin-bottom: 3px; }

.BigLeft .widget_heading {
  padding-left: 15px;
  overflow: hidden; }

.BigLeft .widget_prev {
  float: left;
  width: 44%; }

.BigLeft .widget_short_text {
  float: right;
  width: 56%;
  padding-left: 15px; }

.BigLeft li {
  width: 50%;
  float: right;
  clear: right;
  padding-left: 15px;
  border-left: 1px solid #d0d0d0;
  margin-left: -1px;
  margin-right: 1px;
  margin-top: 0;
  padding-bottom: 10px; }
  .BigLeft li:first-child {
    float: left;
    border-left: none;
    border-right: 1px solid #d0d0d0;
    padding: 15px 15px 10px 0;
    margin-top: -15px; }
    .BigLeft li:first-child .widget_prev {
      width: 100%;
      position: relative;
      padding-bottom: 123%;
      margin-bottom: 10px; }
      .BigLeft li:first-child .widget_prev img {
        position: absolute;
        -o-object-fit: cover;
           object-fit: cover;
        height: 100%; }
    .BigLeft li:first-child .widget_heading {
      padding-left: 0;
      overflow: visible; }
    .BigLeft li:first-child .widget_short_text {
      padding-left: 0;
      width: 100%; }
  .BigLeft li:nth-child(2) {
    padding-top: 15px;
    margin-top: -15px;
    border-top: none; }
  .BigLeft li:last-child {
    padding-bottom: 15px; }

.Top_category .widget_date-wrap {
  margin-bottom: 3px; }

.Top_category .widget_prev {
  float: left;
  width: 44%; }

.Top_category li {
  width: 33%;
  float: right;
  clear: right;
  padding-left: 15px;
  border-left: 1px solid #d0d0d0;
  margin-left: -1px;
  margin-right: 1px;
  margin-top: 0;
  padding-bottom: 10px; }
  .Top_category li:first-child {
    float: left;
    width: 67%;
    border-left: none;
    border-right: 1px solid #d0d0d0;
    padding: 15px 15px 10px 0;
    margin-top: -15px; }
    .Top_category li:first-child .widget_prev {
      width: 100%;
      margin-bottom: 10px; }
      .Top_category li:first-child .widget_prev img {
        height: auto; }
    .Top_category li:first-child .widget_tit {
      font-size: 200%;
      line-height: 1.17;
      margin: 10px 0; }
    .Top_category li:first-child .widget_short_text {
      padding-left: 0;
      width: 100%; }
  .Top_category li:nth-child(2) {
    padding-top: 15px;
    margin-top: -15px;
    border-top: none; }
  .Top_category li:last-child {
    padding-bottom: 15px; }

.widget.littel_preview_description .widget_prev {
  margin: 0 0 0 15px;
  float: right; }

/*----- Accordion -----*/
.widget.newws {
  margin-bottom: 20px; }

.widget.newws .widget-content ul li,
.parts ul.cat_link li {
  border-top: 1px solid #e5e5e5;
  padding-top: 7px;
  margin-top: 7px;
  margin-bottom: 0;
  color: #222;
  list-style: none; }

.widget.newws .widget-content > ul > li:first-child,
.parts > ul.cat_link > li:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none; }

.widget.newws .box {
  margin-bottom: 5px; }

.sidebar .widget_categories,
.parts .cat_link {
  margin-bottom: 20px; }

.widget.newws ul li:before,
.parts ul.cat_link li:before {
  content: "\e604";
  font-family: 'icomoon';
  margin-right: 5px;
  font-size: 11px; }

/* =========================================================
Bottom Sidebar
============================================================ */
#footergl a {
  color: #555; }

/* =========================================================
Footer
============================================================ */
/* =========================================================
Custom color
============================================================ */
/* =========================================================
Categories page
============================================================ */
.page_only {
  list-style: none;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 17px;
  margin-bottom: 15px; }

.page_only .page_title {
  font-size: 150%;
  margin: 0 0 5px;
  line-height: 22px; }

.page_only .img_prewiev {
  width: 30%;
  margin-right: 15px;
  float: left; }

.page_only .img_prewiev img {
  width: 100%; }

.page_only:nth-child(2n) .img_prewiev {
  float: right;
  margin-right: 0;
  margin-left: 15px; }

.comments-link .entry-comments {
  color: #666; }

.page_only .info {
  margin-bottom: 7px; }

.page_only .page_content {
  line-height: 20px; }

.pagination {
  display: block;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700; }

.pagination a,
.pagination span,
.pagination strong {
  padding: 0 8px;
  font-size: 16px;
  font-weight: 700;
  color: #222; }

.pagination span {
  color: #222; }

.pagination .pagination-first {
  padding-left: 0; }

.pagination .pagination-last {
  padding-right: 0; }

/* =========================================================
Media page
============================================================ */
/* =========================================================
Single page
============================================================ */
/*----- About author -----*/
/*----- Related post -----*/
.littelblocks.widget .box {
  margin-bottom: 0; }

.littelblocks .widget-content {
  margin: 0 -15px; }

.littelblocks .page_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-basis: 46%;
      -ms-flex-preferred-size: 46%;
          flex-basis: 46%;
  margin: -1px 0 0;
  background: url("images/dot-1.png") repeat-y 50% 0; }
  .littelblocks .page_list li {
    list-style: none;
    float: left;
    border-top: 1px solid #d0d0d0;
    margin: 0 2%;
    width: 46%;
    padding: 15px 0; }

.LittelBlock .widget_prev {
  width: 21%;
  margin-right: 10px;
  float: left; }

.LittelBlock .widget_heading {
  overflow: hidden; }

.LittelBlock .page_list li {
  list-style: none;
  float: left;
  border-top: 1px solid #d0d0d0;
  margin: 0 2%;
  width: 46%;
  padding: 15px 0; }

/*--------------- Masonry Container ----------------*/
/* disable transitions on pf-container */
/*----- Comments list -----*/
/*----- Comments Form -----*/
/* =========================================================
Contact Page
============================================================ */
/* =========================================================
Elements Page
============================================================ */
.tagclouds a {
  display: inline-block;
  border: 1px solid #DEDEDE;
  background-color: #F7F7F7;
  padding: 5px;
  margin-bottom: 8px;
  margin-right: 5px;
  font-size: 100%; }

/*----- Tabs -----*/
.tabs .tabs-nav {
  margin: 0; }

.tabs .tabs-nav li {
  float: left;
  list-style: none outside none;
  margin: 0 5px 0 0;
  border: none;
  padding: 0;
  width: 95px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #222; }

.tabs .tabs-nav li span {
  background-color: #e2e1e2;
  display: block;
  font-weight: 700;
  padding: 5px 0;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  cursor: pointer; }

.tabs .tabs-nav li.active span,
.tabs .tabs-nav li:hover span {
  text-decoration: none;
  background-color: #222;
  color: #fff; }

.tabs-box {
  background-color: #fff;
  padding: 10px 0 0; }

.tab-container-1 ul li {
  list-style: none;
  border-top: 1px solid #ededed;
  padding-top: 5px;
  margin-top: 5px;
  font-size: 10px; }

.tab-container-1 {
  font-size: 12px; }

.tab-container-1 ul li a {
  color: #777;
  font-size: 12px;
  margin-left: 10px; }

.tab-container-1 ul li:first-child {
  border-top: none;
  padding-top: 0px;
  margin-top: 0px; }

.tab-container-1 ul li:before {
  content: "\e646";
  font-family: 'icomoon'; }

/*-------------Toggle Boxes-----------*/
/*----- Button -----*/
/* =========================================================
404 Page
============================================================ */
