/**/div.comment-reply {text-align: right;clear: left; }
div.comment-form-comment {text-align: left;}

div.tree-comment {padding: 5px 2px 8px 2px; margin: 8px 0 10px 0; border-bottom: 1px dashed #bbd3eb;}

div.comments-user {font-size: 0.8em; margin: 10px 0; padding: 10px; border: 1px solid #8591B7; background: #e6eff8; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
div.comments-textarea {font-size: 0.8em; margin: 10px 0; padding: 10px; border: 1px solid #000; }
/*div.comment-form div.comments-textarea	     */
div.comment-form-comment p.radio {font-weight: bold;}
div.comment-form-comment td {padding: 2px;}
div.comment-form-comment td.t1 {text-align: right; width: 85px;}
div.comment-form-comment td.t2 input {width: 100%;}
div.comment-form-comment p.hint {color: #404040; font-size: 0.9em; font-style: italic; line-height: 1.2em; margin: 0 0 5px 90px;}
div.comment-form-comment div.sep {border-top: 1px solid #AAAAAA; margin-top: 10px; padding-top: 5px;}
div.comment-form-comment p.you-comment {font-weight: bold;}

img.gravatar {border: #6699CC solid 1px; padding: 3px; background: white;}

@media screen and (min-width: 2100px){
	img.gravatar {
	width: 3.5vw;
    height: 3.5vw;
	
	}
	
}

div.comments ul {	overflow: visible; border-bottom: 0;}
div.comments li span {font-style: normal;}
div.comments li span.tree-comment-date{
	margin-left: 10px;
}
div.comments li span.tree-comment-author{
	font-weight:bold;
	font-size: 140%;
}

div.comments li.users {}
div.comments li.comusers {}
div.comments li.anonim {}

ul.tree-comments-level-0 {list-style-type: none; border-bottom: none; border: none; padding: 0;}
ul.tree-comments-level-0 li {margin-left: 0; margin-bottom: 0;}
ul.tree-comments-level-0 ul {border: none; list-style-type: none; display: block;}
ul.tree-comments-level-0 li  div.tree-comment {width: 100%;position: relative;} /* float: left;}*/
ul.tree-comments-level-0 li  ul.tree-comments-list-childs {margin: 0 0 0 0px; 	list-style-type: none;}

/*div.tree-comment-avatar {float: left;}*/
/*div.tree-comment-data {float: left;}	*/

a.comment-form-button {cursor: pointer;
    padding: 3px 5px 3px 5px;
    position: absolute;
    bottom: 0;
    right: 0px;
		font-weight:bold;} /*display: block; float: right;}*/
textarea#comments_content {width: 98%;}
div.comments li.anonim span.tree-comment-author { font-size: 140%;  font-weight: bold; }
div.comments li.anonim span.tree-comment-date { font-size: 12px;}

@media screen and (min-width: 2100px){
div.comments li.anonim span.tree-comment-date, div.comments li.anonim span.tree-comment-author  {
    font-size: 0.65vw;
    line-height: 1.3;
}
}
div.comments h3.comments {border: 1px solid #8097e1; padding: 5px;}
li.users span.tree-comment-date:before{
    content: "\e603";
        font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
    color: #6a6a6a;
    font-family: 'icomoon';
    font-size: 91.667%;
margin-right: 8px;
  margin-top: 2px;
}

span.tree-comment-ip {float: right; margin-right: 5px;}

h3.comments {margin: 0;}
div.comments div.tabs-box {border: none; background: none; padding: 0px;}
div.comments ul, div.comments ol {margin: 0;}

div.comments li.users  {}
div.comments li.comusers {}
div.comments li.anonim {}